# Plex reverse proxy - not needed but sometimes useful.
https://plex.prickels.casa {
  tls mike@mikeyp.net {
    dns cloudflare {env.CF_API_TOKEN}
  }
  reverse_proxy http://truenas.inside.prickels.casa:32400
}

# Reverse proxy to Dream Machine setup - one again not required, but useful if ui.com proxy is slow.
https://unifi.prickels.casa {
  tls mike@mikeyp.net {
    dns cloudflare {env.CF_API_TOKEN}
  }
  reverse_proxy https://setup.ui.com {
    transport http {
      tls_insecure_skip_verify
    }
  }
}

# Homeassistant
https://home.prickels.casa {
  tls mike@mikeyp.net {
    dns cloudflare {env.CF_API_TOKEN}
  }
  reverse_proxy http://home.inside.prickels.casa:8123
}

# TheLounge chat
https://thelounge.inside.prickels.casa {
  tls mike@mikeyp.net {
    dns cloudflare {env.CF_API_TOKEN}
  }
  reverse_proxy http://truenas.inside.prickels.casa:10061
}

# Haste
https://haste.inside.prickels.casa {
  tls mike@mikeyp.net {
    dns cloudflare {env.CF_API_TOKEN}
  }
  reverse_proxy http://192.168.60.190:7777
}

# Transmission
# https://transmission.mikeyp.net {
  # tls mike@mikeyp.net
  # proxy / http://docker-01.internal.mikeyp.net:9091/ {
    # websocket
    # transparent
  # }
# }

