# Plex reverse proxy - not needed but sometimes useful.
https://plex.prickels.casa {
  tls mike@mikeyp.net {
    dns cloudflare {env.CF_API_TOKEN}
  }
  reverse_proxy http://192.168.60.190:32400
}

# Reverse proxy to Dream Machine setup - once again not required, but useful if ui.com proxy is slow.
https://unifi.prickels.casa {
  tls mike@mikeyp.net {
    dns cloudflare {env.CF_API_TOKEN}
  }
  reverse_proxy https://setup.ui.com {
    transport http {
      tls_insecure_skip_verify
    }
  }
}

# Rancher LB exposed through MetalLB 
https://rancher.inside.prickels.casa {
  tls mike@mikeyp.net {
    dns cloudflare {env.CF_API_TOKEN}
  }
  reverse_proxy https://10.1.0.201 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}

# Xen Orchestra hosted on TrueNAS 
https://xo.inside.prickels.casa {
  tls mike@mikeyp.net {
    dns cloudflare {env.CF_API_TOKEN}
  }
  reverse_proxy https://192.168.60.190:10324 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}

# Gravity UI 
https://xo.inside.prickels.casa {
  tls mike@mikeyp.net {
    dns cloudflare {env.CF_API_TOKEN}
  }
  reverse_proxy http://10.1.0.2:8008 {
  }
}

# Homeassistant
https://home.prickels.casa {
  tls mike@mikeyp.net {
    dns cloudflare {env.CF_API_TOKEN}
  }
  reverse_proxy http://10.1.0.16:8123
}

# TheLounge chat
https://thelounge.inside.prickels.casa {
  tls mike@mikeyp.net {
    dns cloudflare {env.CF_API_TOKEN}
  }
  reverse_proxy http://192.168.60.190:10061
}

# Haste
https://haste.inside.prickels.casa {
  tls mike@mikeyp.net {
    dns cloudflare {env.CF_API_TOKEN}
  }
  reverse_proxy http://192.168.60.190:7777
}

# prowlarr
https://prowlarr.inside.prickels.casa {
  tls mike@mikeyp.net {
    dns cloudflare {env.CF_API_TOKEN}
  }
  reverse_proxy http://192.168.60.190:9696
}

# radarr
https://radarr.inside.prickels.casa {
  tls mike@mikeyp.net {
    dns cloudflare {env.CF_API_TOKEN}
  }
  reverse_proxy http://192.168.60.190:7878
}

# sonarr
https://sonarr.inside.prickels.casa {
  tls mike@mikeyp.net {
    dns cloudflare {env.CF_API_TOKEN}
  }
  reverse_proxy http://192.168.60.190:8989
}

# transmission
https://transmission.inside.prickels.casa {
  tls mike@mikeyp.net {
    dns cloudflare {env.CF_API_TOKEN}
  }
  reverse_proxy http://192.168.60.190:10109
}

# sabnzbd
https://sabnzbd.inside.prickels.casa {
  tls mike@mikeyp.net {
    dns cloudflare {env.CF_API_TOKEN}
  }
  reverse_proxy http://192.168.60.190:10097
}

# readarr
https://readarr.inside.prickels.casa {
  tls mike@mikeyp.net {
    dns cloudflare {env.CF_API_TOKEN}
  }
  reverse_proxy http://192.168.60.190:8787
}

# lidarr
https://lidarr.inside.prickels.casa {
  tls mike@mikeyp.net {
    dns cloudflare {env.CF_API_TOKEN}
  }
  reverse_proxy http://192.168.60.190:8686
}
