# Plex reverse proxy - not needed but sometimes useful.
http://plex.trst.space, plex.mikeyp.net {
  tls mike@mikeyp.net
  proxy / http://127.0.0.1:32400/ {
    transparent
    insecure_skip_verify
  }
}

# Reverse proxy to Dream Machine setup - one again not required, but useful if ui.com proxy is slow.
http://unifi.trst.space, unifi.mikeyp.net {
  tls mike@mikeyp.net
  proxy / https://setup.ui.com/ {
    websocket
    transparent
    insecure_skip_verify
  }
}

# Homeassistant
http://home.trst.space, home.mikeyp.net {
  tls mike@mikeyp.net
  proxy / http://127.0.0.1:8123/ {
    websocket
    transparent
    insecure_skip_verify
  }
}

# Metabase
http://data.trst.space, data.mikeyp.net {
  tls mike@mikeyp.net
  proxy / http://127.0.0.1:3000/ {
    websocket
    transparent
  }
}

# Transmission
http://transmission.trst.space, transmission.mikeyp.net {
  tls mike@mikeyp.net
  proxy / http://127.0.0.1:9091/ {
    websocket
    transparent
  }
}

# Pi-hole
http://pihole.trst.space, pihole.mikeyp.net {
  tls mike@mikeyp.net
  proxy / http://127.0.0.1:8053/ {
    websocket
    transparent
  }
}

